- unless @hide_user_nav
  #user-nav.user-data.clearfix.navbar
    %ul.nav.navbar-nav
      %li= @user_profile['full_name'] + ':'
      %li
        = link_to "Sign out", controller: 'users', action: 'logout'
        